html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1260px;
  width: 80%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans", sans-serif;
  color: #d8d8d8;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

h1 {
  font-size: 60px;
  letter-spacing: 5px;
}

p {
  color: #d8d8d8;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

i {
  color: #4681f4;
}

.navBar i, .socialBar i {
  font-size: 30px;
  color: #4681f4;
}

.skills .skillsLogo i {
  font-size: 75px;
}

header {
  padding-bottom: 200px;
  box-shadow: 10px 5px 5px #3260f5;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .pageHeader {
  padding-top: 50px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
}

header::before {
  content: "";
  background-image: url("../assets/calgary.png");
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.15;
}

@-webkit-keyframes slideTop {
  0% {
    transform: translateY(-1000%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(-1000%);
  }
  100% {
    transform: translateY(0);
  }
}
header h1 {
  -webkit-animation: 3s ease-out 0s 1 slideTop;
          animation: 3s ease-out 0s 1 slideTop;
}
header p {
  -webkit-animation: 3s ease 0s 1 slideTop;
          animation: 3s ease 0s 1 slideTop;
}

body {
  background-color: #000000;
}

ul {
  list-style: none;
}

.about {
  margin: 50px auto;
  background-color: #303030;
  width: 80%;
  padding-top: 100px;
  padding-bottom: 100px;
  box-shadow: 10px 5px 5px #3260f5;
}
.about h2 {
  margin-bottom: 50px;
}
.about .aboutContainer {
  padding-top: 20px;
  display: flex;
  text-align: center;
}
.about .aboutContainer .aboutText {
  margin-left: 50px;
  margin-right: 50px;
  line-height: 40px;
}
.about .aboutContainer .aboutText p {
  position: relative;
}
.about .aboutContainer img {
  width: 90%;
}
.about .aboutContainer > * {
  flex: 1 0;
}

.skills {
  margin: 50px auto;
  background-color: #303030;
  box-shadow: 10px 5px 5px #3260f5;
}
.skills h2 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.skills .skillsLogo {
  text-align: center;
  padding-bottom: 50px;
}
.skills .skillsLogo i {
  padding-right: 40px;
  display: inline-block;
}

.projects {
  margin: 50px auto;
  background-color: #303030;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 80%;
  box-shadow: 10px 5px 5px #3260f5;
  text-align: center;
}
.projects .projectIndi {
  background-color: #4e4e4e;
  box-shadow: 10px 5px 5px #3260f5;
  width: 80%;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  margin: 50px auto;
}
.projects .projectIndi h4, .projects .projectIndi p {
  padding-bottom: 20px;
}
.projects .projectIndi img {
  width: 75%;
  height: 60%;
  padding-bottom: 25px;
}

.contact {
  margin: 50px auto;
  background-color: #303030;
  width: 80%;
  padding-top: 100px;
  padding-bottom: 100px;
  box-shadow: 10px 5px 5px #3260f5;
}

button {
  background-color: #29648A;
  padding: 5px 10px;
  border-style: none;
}

.contactForm {
  padding-left: 25px;
  padding-right: 25px;
}
.contactForm .userInfo {
  margin: 10px;
  display: flex;
  padding-top: 30px;
  margin-bottom: 20px;
}
.contactForm .userInfo input[type=text], .contactForm .userInfo input[type=email],
.contactForm .userInfo select {
  width: 100%;
  padding: 15px 15px 20px;
  border: none;
  padding: 15px 15px 20px;
  border: none;
  font-style: italic;
}
.contactForm .userInfo #email {
  margin-left: 10px;
}
.contactForm .userInput {
  margin-bottom: 10px;
  margin: 10px;
}
.contactForm .userInput input[type=message],
.contactForm .userInput select {
  width: 100%;
  height: 200px;
  border: none;
  font-style: italic;
  padding-left: 15px;
  padding-bottom: 150px;
}
.contactForm input[type=submit],
.contactForm select {
  border: none;
  background-color: #29648A;
  width: 98%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 10px;
  color: #d8d8d8;
}

.navBar {
  position: fixed;
  top: 100px;
  z-index: 5;
  left: 30px;
}
.navBar .leftMenu {
  display: flex;
  flex-direction: column;
}
.navBar .leftMenu li {
  padding-bottom: 20px;
  text-align: center;
}

.socialBar {
  position: fixed;
  top: 100px;
  z-index: 5;
  right: 30px;
}
.socialBar .rightMenu {
  display: flex;
  flex-direction: column;
}
.socialBar .rightMenu a {
  padding-bottom: 20px;
}

.scrollUp {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

@-webkit-keyframes slideNav {
  0% {
    transform: translateX(-1000%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideNav {
  0% {
    transform: translateX(-1000%);
  }
  100% {
    transform: translateX(0);
  }
}
.navBar li {
  -webkit-animation: 2s ease-out 0s 1 slideNav;
          animation: 2s ease-out 0s 1 slideNav;
}

@-webkit-keyframes slideSocial {
  0% {
    transform: translateX(1000%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideSocial {
  0% {
    transform: translateX(1000%);
  }
  100% {
    transform: translateX(0);
  }
}
.socialBar a {
  -webkit-animation: 2s ease-out 0s 1 slideSocial;
          animation: 2s ease-out 0s 1 slideSocial;
}

footer {
  width: 50%;
  margin: auto;
}
footer p {
  text-align: center;
  color: #d8d8d8;
  font-family: "Open Sans", sans-serif;
}/*# sourceMappingURL=styles.css.map */