
body {
    background-color: $AccentDarkColor;
}
ul {
    list-style: none;
}

.about {
    margin:50px auto;
    // border-radius: 50% 20% / 10% 40%;
    background-color: $backgroundColor;
    width: 80%;
    padding-top: 100px;
    padding-bottom: 100px;
    // box-shadow: 10px 5px 5px $buttonColor;
    
    h2 {
        text-align: center;
    }
    p {
        text-align: center;
    }
}


.skills {
    margin: 50px auto;
    // border-radius: 50% 20% / 10% 40%;
    background-color: $backgroundColor;
    
    // box-shadow: 10px 5px 5px $buttonColor;
    h2{
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .skillsLogo {
        text-align: center;
        padding-bottom: 50px;
        i{
           
            display: inline-block;
        }
    }
    
}

.projects {
    margin: 50px auto;
    // border-radius: 5% 5% / 5% 5%;
    background-color: $backgroundColor;
    
    width: 80%;
    // box-shadow: 10px 5px 5px $buttonColor;
    
}

.contact {
    margin: 50px auto;
    // border-radius: 50% 20% / 10% 40%;
    background-color: $backgroundColor;
    width: 65%;
    padding-bottom: 250px;
    // box-shadow: 10px 5px 5px $buttonColor;
    
}

button {
    background-color: $buttonColor;
    padding:5px 10px;
    border-style: none;
}