footer {
    width: 50%;
    margin:auto;
    padding-top: 10px;
    padding-bottom: 30px;
    p {
        text-align: center;
        color: $mainTextColor;
        font-family: $primaryFont;
    }
}