header {
    padding-bottom: 200px;
    box-shadow: 10px 5px 5px $borderColor;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .pageHeader {
        padding-top: 50px;
        margin: auto;
        text-align: center;
        text-transform: uppercase;
        
  
    }
 }

 header::before {
    content: "";
    background-image: url('../assets/calgary.png');
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .15;

 }

@keyframes slideTop {
    0% {
        transform: translateY(-1000%);
    }
    100% {
        transform: translateY(0);
    }
    
}

header {
    h1 {
        animation: 3s ease-out 0s 1 slideTop;
    }
    p {
        animation: 3s ease 0s 1 slideTop;
    }
}
