header {
    padding-bottom: 200px;
    box-shadow: 10px 5px 5px $buttonColor;
    position: relative;
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .pageHeader {
        padding-top: 50px;
        margin: auto;
        text-align: center;
        text-transform: uppercase;
        
  
    }
 }

 header::before {
    content: "";
    background-image: url('../assets/calgary.png');
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .15;

 }