.navBar {
    position: fixed;
    top: 50px;
    z-index: 5;
    left:30px;
}
.socialBar {
    position: fixed;
    top: 50px;
    z-index: 5;
    right:30px;
}

.scrollUp {
    position: fixed;
    bottom: 20px;
    right: 20px;
}