h1,
h2,
h3,
h4,
h5 {
    font-family: $primaryFont;
    color: white;
}
p{
    color: white;
    font-size: 20px;
}

i {
    color: $secondaryColor;
}

.navBar {
    i {
        font-size: 20px;
    }
}

.skills {
    .skillsLogo{
        i {
            font-size: 75px;
        }
    }
}