//Fonts

$primaryFont: 'Open Sans', sans-serif;
$secondaryFont: 'Roboto', sans-serif;


// $AccentDarkColor: white;
// $secondaryColor: #f45d48;
// $buttonColor: #078080;
// $backgroundColor:#f8f5f2;
// $sectionColor: #616161;
// $mainTextColor: #222525;
// $sectionBGColor: #feefe8;
// $tertiaryColor: #078080;
// $borderColor: #a91d0a;

$AccentDarkColor: #000000; //background and shade of skyline
$secondaryColor: #4681f4; //mid skills colour

$backgroundColor: #25274D;
$sectionColor: #AAABB8;
$mainTextColor: #d8d8d8; //section text colour
$sectionBGColor: #303030; //sections background 
$sectionDivBGColor: #4e4e4e; //sections background 
$tertiaryColor: #4681f4; //nav button colour
$borderColor: #3260f5; // section border colour

$buttonColor: #29648A;

// #25274D - Dark blueish purple
// #464866 - Light grey purple hint of blue
// #AAABB8 - Gray
// #2E9CCA - Sea Blue
// #29648A - Dark Sea Blue
