//Fonts

$primaryFont: 'Open Sans', sans-serif;
$secondaryFont: 'Roboto', sans-serif;


$AccentDarkColor: white;
$secondaryColor: #f45d48;
$buttonColor: #078080;
$backgroundColor:#f8f5f2;
$sectionColor: #616161;
$mainTextColor: #222525;
$sectionBGColor: #feefe8;
$tertiaryColor: #078080;
$borderColor: #a91d0a;
